body{
    background-color:#f8f7f7;
}

.body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main{
    display: flex;
    max-width: 480px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.close{
    text-align: end;
    font-weight: bold;
    margin-bottom: -15px;
    margin-right: -10px;
    margin-top: 5px;
    cursor: pointer;
}

.container {
    
    width: 100%;
    padding: 30px;
    padding-top: 10PX;
    
}

.title {
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: bold;
}

.subtline{
    color: #777676;
    font-size: 12px;
    margin-bottom: 15px;
    margin-top: 5px;

}

.title-input,
.description-input,
.category-dropdown {
    
    padding: 10px;
    margin-bottom: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.description-input{
    width: 400px;
    height: 120px;
    resize: none;
    
}
.description-input::placeholder{
    font-family: Arial, Helvetica, sans-serif
}

.category-dropdown{
    margin-top: 6px;
    width: 100%;
}

.description-input ::placeholder{
    font-size: larger;
}

.attach-button {
    background-color: #e4e4e4;
    color: #777676;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.attach-button:hover {
    background-color: #dadada;    
}

.submit-button {
    margin-top: 20px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #383838;   
}

