.bottom-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.proposal {

    background-color: #1e293b;
    width: max-content;
    align-self: center;
    height: 40px;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* display: inline-block; */
    /* font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: medium;
    font-weight: 100;
    line-height: 1;
    padding: 0px 42px;
    margin: 38px 0 15px 0;
    text-align: center;
    /* text-decoration: none #0d172a solid; */
    /* text-decoration-thickness: auto; */
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    /* user-select: none; */

    touch-action: manipulation;
}

.proposal:hover {
    background-color: #000;
    color: #f1f1f1;
}











@-webkit-keyframes slideIn {
    from {
        top: 0;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        top: +300px;
        opacity: 0
    }

    to {
        top: 37px;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


@keyframes topIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}