body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
}
.container{
    width: 100%;
    height:auto;
    background-size: cover;
    background-color: #ffffff;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.warning{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(216, 229, 252);
    -webkit-text-fill-color: #284389;
}
.form-box{
    width:50%;
    align-items:left;
    padding: 40px 90px;
    position: relative;
   
}

.form-layout{

    padding: 40px 20px 20px 27px;
}

.botom-row{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px 20px 20px 27px;
}

.inputs {
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 3px 8px;
    width: 100%;
    height: 30px;
    border: 1px solid #b2b0b0;
    border-radius: 10px;
    color: #444;
    font-size: 15px;
    z-index: 1;
    position: relative; /* Ensure relative positioning for proper z-index */
}

.inputs-1 {
    background: none;
    outline: none;
    border: 2px solid black;
    display: block;
    padding: 8px 8px;
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #b2b0b0;
    border-radius: 10px;
    color: #444;
    font-size: 15px;
    z-index: 1;
    position: relative; /* Ensure relative positioning for proper z-index */
}


.input-lable {
    
    font-size: 12px; /* Adjust this size as needed */
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    color: #444;
     
}

.back{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
    /* padding-top: 30px; */
    width: 70px;
    -webkit-text-fill-color: #7A7D85;
    cursor: pointer;
    align-content: center;
}

.btn1{
    display: flex;
    justify-items: center;

}
.btn2{
    display: flex;
    justify-items: center;
    justify-content: right;
}


.button{
    width:155px;
    height:35px;
    border-radius: 10px;
    background-color: #000000;
    -webkit-text-fill-color: #FFFFFF;
    text-align: center;
}

.img{
    padding-top: 170px;
}

.div-cursor{
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

/* Style for custom button */
.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e2e2e2;
    color: #62646a;
    display: inline-block;
    padding: 4px 12px;
    cursor: pointer;
}

.ustom-file-upload:hover{
    background-color: #000000;
    /* box-shadow: ; */
}

.packege-main1{
    display: grid;
    grid-template-columns:20% 10%;
    padding: 10px;
}

.icon2{
    width: 50px;
    clip-path: circle(at center);
}

.dropdown{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}