/* Styles for the navbar */
.navbar-content {
    background-color: #fff;
    /* Background color for the navbar */
    color: #9D9D9D;
    /* Text color for the navbar */
    padding: 10px;
    /* Add some padding for better spacing */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for the package status elements */
.package_status {
    display: flex;
    cursor: pointer;
}

.package_status span {
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
    color: #999;
    /* Default color for the status elements (grey) */
}

.package_status .active {

    color: #000;
    /* Text color for active status */
}

/* .package_status .pending {
    /* No specific styles for pending status, it will be grey by default */
/* } */

/* .package_status .paused {
    /* No specific styles for paused status, it will be grey by default */
/* } */

/* Styles for the "CREATE NEW PACKAGE" button */
.create_package button {
    background-color: #12289B;
    /* Button background color (blue) */
    color: #fff;
    /* Text color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}