/* .table {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
  } */

  .table{
    padding: 15PX 10px;
    
    border-radius: 15px;
    background-color: white;
    margin-top: 5px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
}
  
  .navbar-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    /* border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px; */
    margin-top: 30px;
  }
  
  .navbar-body .nav-body {
    display: flex;
    cursor: pointer;
  }
  
  .navbar-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar-body li {
    float: left;
    padding-right: 25px;
  }
  
  .navbar-body a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .btn button {
    background-color: #18181a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .active{
    font-weight: bold;
  }
  
  .navbar-body .btn {
    float: right;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main{
    width: 100%;
  }
  .container {
    /* margin-top: 80px; */
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .block {
    width: 80%;
  }
  
  .headding {
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 35px;
  }
  
  .title {
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    font-weight: bold;
    color: rgb(60, 60, 60);
    margin-top: 20px;
    padding-left: 10px;
  }
  
  .headers {
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: space-around;
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    font-weight: bold;
    color: #a3a3a3;
    font-size: small;
    margin-top: 20px;
  }
  
  /* .headers .header-package {
    width: 35%;
    max-width: 20%;
    min-width: 20%;
    padding-left: 10px;
    flex: 1;
  }
   */
  .row {
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    padding: 0 20px;
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 1px;
    height: 80px;
  }
  
  .pause-icon {
    background-image: url('../Assests/icons/icon_pause.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    
  }
  
  .edit-icon {
    background-image: url('../Assests/icons/icon_edit.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  
  .delete-icon {
    background-image: url('../Assests/icons/icon_delete.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  .upload-icon {
    background-image: url('../Assests/icons/icon_upload.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }
  
  .pkg-img, .empty {
    /* width: 10%;
    max-width: 10%;
    min-width: 10%; */
    flex: 1;
    padding-left: 10px;
  }
  
  .row .pakg, .header-package {
    /* width: 60%;
    max-width: 75%;
    min-width: 20%;
    padding-right: 10px; */
    flex: 5;
    padding-left: 10px;
  }
  
  .row .clicks ,.header-clicks{
    /* width: 60%;
    max-width: 20%;
    display: flex;
    align-items: center; */
    flex: 2;
    padding-left: 10px;
    
  }
  
  .row .noorders, .header-orders{
    /* width: 30%;
    max-width: 15%; */
    /* min-width: 15%; */
    /* padding-left: 40px;
    padding-right: 40px; */
    /* display: flex;
    align-items: center; */
    flex: 2;
    padding-left: 10px;
  }
  
  .row .cancellations, .header-cancellations {
    /* width: 15%;
    max-width: 15%; */
    /* min-width: 15%; */
    flex: 2;
    padding-left: 10px;
  }
  
  .button-set, .empty2 {
    flex: 2;
    padding-left: 10px;
    /* width: 30%;
    max-width: 30%;
    min-width: 30%; */
    /* display: inline */
  }
  
  /* .cover{
    background-image: url('/img/package_cover3.jpg');
    width: 100%;
    height: auto;
  } */
  
  img{
    width: 50%;
    height: auto;
  }

  .btn-apply {
    background-color: #18181a;; /* Button background color (blue) */
    color: #fff; /* Text color for the button */
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    float: right;
    width: 90px;
    font-weight: bold;
}
  

.header h2{
  color:rgb(60, 60, 60);
  font-size: 35px;
  font-weight: lighter;
}

.align-buttons{
  display: flex;
  align-items: center;
}

/* header-orders{
  width: 10px;
} */
  
  