body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main{
    width: 100%;
    display: flex;
  }
  .container {
    /* margin-top: 80px; */
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* .block {
    width: 80%;
  } */

  .block {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
    background-color: white;
    padding: 30px;
    border-radius: 7px;
  }

  .table {
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
  }

  .table2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15PX 10px;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    margin-top: 5px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
  }
  

  .headers {
    display: flex;
    align-items: center; /* Vertically center content */
    /* justify-content: space-around; */
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    font-weight: bold;
    color: #a3a3a3;
    font-size: small;
    width: 100%;
  }

 .row {
    display: flex;
    align-items: center; /* Vertically center content */
    /* justify-content: space-around;  */
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 1px;
    /* padding-left: 30px; */
    width: 100%;
  }

  .header-id, .id{
    /* width: 10%;
    max-width: 10%;
    min-width:10%; */
    flex: 0.75;
    padding-left: 10px;
  }

.header-date, .date{
  flex: 1;

    /* width: 10%;
    max-width: 10%;
    min-width:10%; */
    padding-left: 10px;
    /* padding-right: 10px; */
}
.header-problem, .problem{
  flex: 4.5;
  padding-left: 10px;
    /* width: 30%;
    max-width: 30%;
    min-width:30%;
    padding-left: 60px; */
    /* padding-right: 10px; */
}

.header-requester, .requester{
  /* width: 20%;
  max-width: 20%;
  min-width:20%;
  padding-left: 60px; */
  /* padding-right: 10px; */
  flex: 1;
    padding-left: 10px;
}
.header-btn, .btn{
  flex: 1;
    padding-left: 10px;
  /* width: 35%;
  max-width: 35%;
  min-width:35%; */
  /* padding-left: 5px; */
  /* padding-right: 10px; */
}

.handle{
    background-color: #18181a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.panel{
    display: flex;
    flex-direction: row;
    /* align-items:center; */
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    /* height: 70px; */
    justify-content: center;
    float: right;
}

.accept{
   
    background-color: #5cb85c;
    border-radius: 4px;
    border-style: none;
    border-width: 2px;
    color: white;
    box-sizing: border-box;
    border-color: #838383;
    cursor: pointer;
    display: inline-block;
    font-size:15px;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 20px;
    min-width: 5px;
    outline: none;
    overflow: hidden;
    padding: 3px 10px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%; 
    margin: 3px; 
    transition: background-color 0.3s, transform 0.3s;

    /* width: 100%;
    height: 30px;
    cursor: pointer;
    border-color:#5cb85c; ;
    border-radius: 4px;
    border-width: 2px;
    color:#5cb85c;
    padding: 3px 10px;
    text-align: center;
    font-size:15px;
    margin: 3px; 
    background-color: #fff; */
}

.accept:hover{
  background-color: #198754;
  border-style: none;
  color: #fff;
}
.reject{
    background-color: #ff0b0b;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    /* font-weight: 700; */
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 20px;
    min-width: 5px;
    outline: none;
    overflow: hidden;
    padding: 3px 10px;
    /* position: relative; */
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;  
    margin: 3px;
    transition: background-color 0.3s, transform 0.3s;
}

 .reject:hover{
    /* transform: translateY(-3px) */
    background-color: #CA0B00;
    border-style: none;
    color: #fff;
    
}

.navbar-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: solid;
  border-color: #ebebeb;
  border-width: 2px;
  margin-top: 30px;
}

.navbar-body .nav-body {
  display: flex;
  cursor: pointer;
}

.navbar-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-body li {
  float: left;
  padding-right: 25px;
}

.navbar-body a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.active{
  font-weight: bold;
}

.resolved{
  background-color: #5cb85c;
  border-radius: 4px;
  border-style: none;
  border-width: 2px;
  color: white;
  box-sizing: border-box;
  border-color: #838383;
  cursor: pointer;
  display: inline-block;
  font-size:15px;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 5px;
  outline: none;
  overflow: hidden;
  padding: 3px 10px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%; 
  margin: 3px; 
  transition: background-color 0.3s, transform 0.3s;

}

.warn{
  background-color: 	#FFC107;
  border-radius: 4px;
  border-style: none;
  border-width: 2px;
  color: white;
  box-sizing: border-box;
  border-color: #838383;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:15px;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 5px;
  outline: none;
  overflow: hidden;
  padding: 3px 10px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%; 
  margin: 3px; 
  transition: background-color 0.3s, transform 0.3s;

}

.bann{
  background-color: 	#ff0b0b;
  border-radius: 4px;
  border-style: none;
  border-width: 2px;
  color: white;
  box-sizing: border-box;
  border-color: #838383;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:15px;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 5px;
  outline: none;
  overflow: hidden;
  padding: 3px 10px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%; 
  margin: 3px; 
  transition: background-color 0.3s, transform 0.3s;

}

.resolved:hover{
  background-color: #198754;
  border-style: none;
  color: #fff;
}

.bann:hover{
  background-color: #CA0B00;
  border-style: none;
  color: #fff;
}

.warn:hover{
  background-color: #FFA500;
  border-style: none;
  color: #fff;
}

/* .overlay{
  font-family: Arial, sans-serif;
  background-color:#000000c3;
  display: none   ;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100vh;
  width: 100%;
  position:fixed;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  padding: 110px 530px;

} */

.headding {
  border-bottom: solid;
  border-color: #ebebeb;
  border-width: 2px;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  font-size: 35px;

}

@-webkit-keyframes slideIn {

  from {top: 0; opacity: 0} 
  to {top: 0; opacity: 1}
}

@keyframes slideIn {
  from {top: +300px; opacity: 0}
  to {top: 37px; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}


@keyframes topIn {
  0% {
  transform: scale(0.5);
      opacity: 0;
}

100% {
  transform: scale(1);
      opacity: 1;
}
}


 .overlay h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }


  /* .warn-form{
    display: flex;
    position: absolute;
    background-color: #ffffff;
    width: 20%;
    justify-content: center;
    align-items: center;
    border: 2px solid #cccccc82;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: topIn;
    animation-duration: .5s;
    flex-direction: column;
    margin: auto;
    padding-top: 10PX;
    padding-bottom: 40PX;
   
} */

.header-view{
    display: flex;
    width: -webkit-fill-available;
    /* display: flex; */
    margin: 0;
    /* padding: 0 18px; */
    justify-content: end;
    align-items: center;
    flex-direction: row;
    /* box-shadow: 0 1px 10px #8080808c; */
}

.image-profile{
    width: 37px;
    clip-path: circle();
}

.usename-top-e{
   color: #383838;
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}
.close-top{
    font-weight: bold;
    cursor: pointer;
    color: #383838;
    display: flex;
    justify-content: end;
    padding-left: 100px;
    font-size: 18px;
    padding-right: 20px;
    padding-top: 10px;
}
.close-top:hover{
    font-weight: bold;
    color: rgb(96, 96, 96);
}
.contain-bottom{
    padding: 5px 40px;
    display: flex;  
    flex-direction: column;
    /* background-color: #fdfdfd; */
}
.tl{
    font-size: smaller;
    font-weight: bold;
    font-family: inherit;
    display: inline;
}
.description{
    border-top: solid 2px;
    margin: 0;
    padding: 10px 0 23px 0;
    text-align: justify;
    border-color: #cacaca;
    font-family: cursive;
    font-size: medium;
}
.duration-textview{
    font-size: 15px;
    color: #7b7a7a;
    max-width: min-content;
    max-width: max-content;
    width: max-content;
}
.description-text{
    font-weight: bold;
    font-size: large;
}
.budget-textview{
    font-size: large;
    font-weight: bold;
    color: #474747;
    width: max-content;

}

.data{
    display: inline;
    font-size: smaller;
}

.action-box{
    padding: 10px;
}


.title {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: bold;
}

.title-input,
.description-input,
.budget-input,
.duration-input,
.category-dropdown {
    
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.description-input{
  width: 100%;
  height: 200px;
  resize: none;
  
}

.submit-button {
  margin-top: 20px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #383838;   
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0,0,0,0.5); */
  background-color:#000000c3;
  z-index: 2;
  cursor: pointer;
}

.overlay-div2{
  width: 30%;
  height: 70%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  /* color: white; */
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border-radius: 7px;
}

*:focus {
  outline: none;
}


.column-div2-hidden{
  /* width: 50%; */
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  border: 2px solid #ebebeb;
  padding: 15px;
  border-radius: 7px;
  padding-top: 50px;
} 


.column-div2{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  border: 2px solid #ebebeb;
  padding: 15px;
  border-radius: 7px;
  padding-top: 50px;
} 


.column-div{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  /* border: 2px solid #ebebeb; */
  padding: 15px;
  border-radius: 7px;
  padding-top: 50px;
} 

.row-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* width: 100%; */
  /* border-bottom: 2px solid #ebebeb; */
  /* padding: 15px; */
 

}

.row-div2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid #ebebeb;
  padding: 15px;
 

}

.subheading2{
  font-weight: lighter;
}

.profile-pic {
  width: 75px;
  /* height: auto; */
  clip-path: circle(at center);
}

.profile-display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.data-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  padding-left: 10px;
 
}

.data-set, .pkg-set{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.package-details-content
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ebebeb;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    transition: transform .3s;
}

.stat1
{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #ebebeb;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    transition: transform .3s;
}

.package-details-content:hover{
  transform: scale(1.05);
}


.cover1{
  /* width: 25%; */
  flex: 1;
  margin-right: 20px;
  

  img{
      width: 100%;
  }
}

.pkg-title{
  /* width: 40%; */
  flex: 2;
  display: flex;
  align-items: center;
  margin-right: 1px;

}

.pkg-inner-div, .warn-inner-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.form-inner-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}


.subheader{
  display: flex;
  justify-content: space-between;
  /* font-weight: lighter; */
  margin-bottom: 30px;
}


.no-warnings-show{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.no-warnings-hidden{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.warn-reason{
  width: 25%;
}

.ticket-txt{
  width: 51%;
  /* box-shadow: inset 0 2px 4px 0 rgba(133, 133, 133, 0.05); */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #FFF;
  color: #444;
  /* margin-bottom: 30px; */
  /* margin-left: 62px; */
}

.ticket-txt-form{
  width: 51%;
  /* box-shadow: inset 0 2px 4px 0 rgba(133, 133, 133, 0.05); */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #FFF;
  color: #444;
  margin-bottom: 30px;
  /* margin-left: 62px; */
}

.button-save-plc {
  background-color: #18181a;; /* Button background color (blue) */
  color: #fff; /* Text color for the button */
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  /* float: right; */
  /* margin-right: 80px; */
  /* width: 50%; */
  font-weight: bold;
  
}

.button-save-plc:hover {
  background-color:#444;; /* Button background color (blue) */
  
}

.button-cancel-plc {
  /* background-color: #b3b3b3; */
  color: #000; /* Text color for the button */
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  /* float: right; */
  /* margin-right: 80px; */
  /* width: 50%; */
  font-weight: bold;
  border: 2px solid #b3b3b3;
  
}

.button-cancel-plc:hover {
  background-color:#e6e6e6;; /* Button background color (blue) */
  
}

.see-more-half{
  background-color: 	#18181a;
  border-radius: 4px;
  border-style: none;
  border-width: 2px;
  color: white;
  box-sizing: border-box;
  border-color: #838383;
  cursor: pointer;
  display: inline-block;
  font-size:12px;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 20px;
  min-width: 5px;
  outline: none;
  overflow: hidden;
  padding: 3px 10px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%; 
  margin: 3px; 
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  
  }
  
.txt{
  margin-bottom: 20px;
}


.textarea-ticket{
  width: 90%;
  /* box-shadow: inset 0 2px 4px 0 rgba(133, 133, 133, 0.05); */
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #FFF;
  /* display: inline; */
  resize: none;
  padding: 10px;
  color: #444;
  vertical-align: text-top;
  margin-left: 11px;
  margin-bottom: 50px;
}

input {
  text-align: center;
}
