body {
    background-color: #fdfdfd;
    font-family: Arial, Helvetica, sans-serif
}

.major {
    MARGIN-TOP: 40px;
    padding: 0px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 80%;
}

.header {

    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
}

.count {
    display: flex;
    align-items: end;

}

.header h2 {
    color: rgb(60, 60, 60);
    font-size: 35px;
    font-weight: lighter;

}

.ct-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.count p {
    margin: 3px;
    color: #a3a3a3;
    font-size: small;
    font-weight: bold;

}

.table {
    padding: 15PX 10px;

    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
}

.upper {
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
}

.upper p {
    font-weight: bold;
    color: rgb(60, 60, 60);
}

.row {
    display: flex;
    /* gap: 20px; */
    padding: 10px 20px;
    min-height: 80PX;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 1 px;
}

.row:hover {
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.row-hidden {
    display: none;
    gap: 20px;
    padding: 0 20px;
    justify-content: space-around;
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 1 px;
}

.row .title2 {
    width: 040%;
    max-width: 60%;
    min-width: 60%;
}

.requestID,
.user,
.duration,
.price,
.package,
.status {
    width: 10%;
    max-width: 10%;
    min-width: 10%;
}

.row-main {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
    border-bottom: 2px solid rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    border-width: 2px;
}

.row-main .dis {
    width: 060%;
    max-width: 60%;
    min-width: 60%;
    font-weight: bold;
    color: #a3a3a3;
    font-size: small;
}

.date-main,
.user-main,
.duration-main,
.budget-main,
.gig-main,
.status-main {
    width: 10%;
    max-width: 10%;
    min-width: 10%;
    font-weight: bold;
    color: #a3a3a3;
    font-size: small;


}

.aceptproposal {

    background-color: #1e293b;
    width: max-content;
    align-self: center;
    height: 40px;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    /* display: inline-block; */
    /* font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: medium;
    font-weight: 100;
    line-height: 1;
    padding: 0px 42px;
    margin: 38px 0 15px 0;
    text-align: center;
    /* text-decoration: none #0d172a solid; */
    /* text-decoration-thickness: auto; */
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    /* user-select: none; */

    touch-action: manipulation;
}

.aceptproposal:hover {
    background-color: #000;

    color: #f1f1f1;
}