.first {
    font-family: Arial, sans-serif;
    /* display: flex; */

    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    /* width: 100%; */
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.second {
    font-weight: bold;
}

.third {
    margin-top: 2%;
}

.input {
    height: 40px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.input2 {
    width: 30%;
    margin-top: 1%;
    margin-left: 20%;
    height: 20px;
    text-align: start;
    line-height: 100px;
}

.input3 {
    width: 30%;
    margin-top: 1%;
    margin-left: 29%;
    height: 20px;
    text-align: start;
    line-height: 100px;
}

.atachfile {
    width: max-content;
    height: 25px;
    margin-top: 1%;
    margin-bottom: 5%;
}