html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.signup-main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.53);
}
.signup-layout{
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}
.left{
    width: 50%;
    /* margin-right: 10px; */
    background-image: url('../Assests/login_img2.jpg');
    background-size:cover;
    background-position: center;
    background-color: rgba(2, 25, 80, 0.361);
    background-blend-mode:overlay;
    border-radius: 10px 0 0 10px;
}
.left h2{
    color: white;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    font-size: 30px
    
}
.left ul{
    margin-left: 25px;
   list-style-type: none;
}
li:before { content: '\1F5F8'; margin-left: -20px; margin-right: 10px; } 
.left li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
    /* font-weight: bold; */
    font-size: large;
    
}
.right{
    max-width: 408px;
    width: 450px;
    padding-left: 20px;
    padding-right: 20px;

}
.title{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 35px;
    margin-bottom: 0;
    color: rgb(61, 60, 60);
}

.nav-signup{
    padding-top: 7px;
    margin-top: 0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(111, 111, 111);
    padding-left: 30px;
    
}
.joinhere{
    text-decoration: underline;
    color:rgb(61, 60, 60);
    cursor: pointer;
}

.form-layout{  
    padding: 40px 20px 20px 27px;
}

/* Default label styles */
.input-lable {
    font-size: 15px; /* Adjust this size as needed */
    font-weight: 400;
    font-family:Arial, Helvetica, sans-serif;
    color: #444;
    /* text-transform: uppercase; */
    transform: translateY(0);
    transition:all 0.7s;
    cursor: text;
    z-index: 1;
  
}

/* Input styles */
.inputs {
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 8px 0;
    width: 355px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: #444;
    font-size: 15px;
    z-index: 1;
    position: relative; /* Ensure relative positioning for proper z-index */
}

.inputs:focus {
    border-color: #007BFF;
}
input[type=submit]{
    background-color: rgb(0, 0, 0);
    width:355px;
    border-radius: 5px;
    height:30px;
    border: none;
    font-weight: bold;
    color: white;

}
input[type=submit]:hover{
    background-color: rgb(65, 65, 65);
    width:355px;
    border-radius: 5px;
    height:30px;
    border: none;
    font-weight: bold;
    color: white;

}

.fpassword{
    justify-content: right;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#444;
    
}
.btm_text {
    font-size: 12px;
    color: #7f7f7f;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-top: 40px;
}
.btm_text span{
    text-decoration: underline;
    font-weight: 550;
    
}






