body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
}
.container{
    width: 94%;
    height:auto;
    text-align: center;
    padding: 40px;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    position: relative;

}