body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.main{
    /* display: flex; */
    /* max-width: 480px; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc;
    border-radius: 5px; */
}

.container {
    /* width: 100%; */
    padding: 170px;
    padding-top: 10PX;
    
}



/* Remove default table borders and expand it across the page */
table.border {
    width: 100%; /* Make the table expand across the page */
    border-collapse: collapse; /* Remove default table cell spacing */
    background-color: white;
}


table.border th.col{
    text-align: left;
    
}



table.border th, table.border td {
    /* border-bottom: 1px solid #000; 
    padding: 8px; */
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    text-align: center; /* Align text to the left within cells */
    padding: 10px;
    /* width: 060%;
    max-width: 60%;
    min-width: 60%; */
}

table.border th {
    font-weight: normal; /* Make the header cells bold */
}

.pause-icon{
    background-image: url('../Assests/icons/icon_pause.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    align-items: center;
}

.edit-icon{
    background-image: url('../Assests/icons/icon_edit.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.delete-icon{
    background-image: url('../Assests/icons/icon_delete.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.upload-icon{
    background-image: url('../Assests/icons/icon_upload.png');
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 20px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.heading{
    /* border-bottom: solid;
    border-color:#ebebeb;
    border-width: 2px; */
    margin-top: 80px;
}

.table{
    padding: 10PX;
    background-color: white;
    margin-top: 10px;
    border: solid;
    border-width: 1px;
    border-color: #ebebeb;
    width: 100%;
}

.table tr{
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
}

.upper{
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
}

.upper p{
    font-weight: bold;
    color:rgb(60, 60, 60);
}

.row-main{
    display: flex;
    /* gap: 20px; */
    padding: 0 20px;
    justify-content: space-around;
    border-bottom: solid;
    border-color: #ebebeb;
    border-width: 2px;
    }

    .package-main,.clicks-main,.orders-main,.cancellations-main, .button-main{
        width: 10%;
        max-width: 10%;
        min-width: 10%;
        font-weight: bold;
        color:#a3a3a3;
        font-size: small;


    }

    .row-hidden .dis{
        width: 060%;
        max-width: 60%;
        min-width: 60%;
    }

    .tile{
        font-size: large;
        font-weight: bold;
    }

    .blackbtn{
        background: #18181a;
        color: white;
        border-radius: 20px;
    }


    table-div{
        margin: 3px  #18181a;
    }
