<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../CSS/footer_home.css">
    </head>
    <body>
        <footer>
            <div class="footer-content">
                <div class="footer-spacelance">
                    <img src="../Assests/footer_home.jpg" alt="Spacelancer" width="200px" height="35px">
                    <p>Powerful freelace Marketplace System with abilty to change the users (Freelancers & Clients)</p><br>
                    <div class="contact">
                        <a href="#"><img src="../Assests/icons/footer_insta.png" width="25px" height="25px"></a>
                        <a href="#"><img src="../Assests/icons/footer_twitter.png" width="25px" height="25px"></a>
                        <a href="#"><img src="../Assests/icons/footer_facebook.png" width="25px" height="25px"></a>
                    </div>
                    
                </div>
                <div class="footer-Clients">
                    <h2>Follow Us</h2>
                    <ul>
                        <li><a href="#">Find Freelancers</a></li>
                        <li><a href="#">Post Project</a></li>
                        <li><a href="#">Refund policy</a></li>
                        <li><a href="#">privacy Policy</a></li>
                    </ul>
                </div>
                <div class="forfreelancers">
                    <h2>For Freelancers</h2>
                    <ul>
                        <li><a href="#">Find Work</a></li>
                        <li><a href="#">Create Account</a></li>
                    </ul>
                </div>
                <div class="call">
                    <h2>Call</h2>
                    <ul>
                        <li><img src="../Assests/icons/footer_location.png">  Kenya</li>
                        <li><img src="../Assests/icons/footer_tel.png">  +25470000000</li>
                        <li><img src="../Assests/icons/footer_mail.png">  bluelance@gmail.com</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>