<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbar2.css">
</head>
<body>
<div class="navbar-content  ">
    <div class="navbar">
        
        <div class="logo">
            <img src="../Assests/logo enmo.png" alt="Logo">
        </div>
        
        
        
        
        <div class="user-actions">
            <span class="orders">Orders</span>
            <span class="getsupport">Get Support</span>
            <span class="packages">My Packages</span>
            <span class="earnings">Earnings</span>
            
            
            

        </div>
        <div class="menu">
            <button class="massages"></button>
            <button class="notification"></button>
            <image class= "profileimg" src = "../Assests/login_img1.jpg"/>
        </div>
    </div>
</div>
</body>
