<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbarhome.css">
</head>
<body>
<div class="navbar-content  ">
    <div class="navbar">
        <!-- Logo -->
        <div class="logo">
            <img src="../Assests/logo enmo.png" alt="Logo">
        </div>
        <!-- Search bar -->
        
        <div class="menu">
            
        </div>
        <!-- Login and Sign buttons -->
        <div class="user-actions">
            <span class="become-seller">Home</span>
            <span class="become-seller">Find Freelancers</span>
            <button class="login">Log In</button>
            <button class="sign-up">Sign Up</button>
        </div>
    </div>
</div>
</body>
