<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbar3.css">
</head>
<body>
<div class="navbar-content  ">
    <div class="navbar">
        <!-- Logo -->
        <!-- <div class="logo" >
            <img src="../Assests/logo enmo.png" alt="Logo" onclick="home()">
        </div> -->
        <!-- Search bar -->
        <!-- <h1>Contact support agent</h1> -->
        <div class="menu">
            
        </div>
        <!-- Login and Sign buttons -->
        <!-- <div class="user-actions"> -->
            <!-- <span class="become-seller" onclick="admin()">Admin Services</span> -->
            <!-- <button class="login" onclick="assign_tickets()">Assign tickets</button>
            <button class="sign-up" onclick="refund()">Refund requests</button>
        </div> -->
    </div>
    <script>
        function home() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            window.parent.location = '../';
        }
        function admin() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            window.parent.location='../HTML/view_client_list_admin.html';
        }
        function assign_tickets() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            // window.parent.location = '../HTML/ticketListCS.html';
            alert("UI is Under Construction")

        }
        function refund() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            // window.parent.location='../HTML/orderlist_designer.html';
            alert("UI is Under Construction")
        }
        
        function pakages() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            window.parent.location='../HTML/view_active_packages.html';
        }
        function earninigs() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            // window.parent.location = '../HTML/signup.html';
            alert("UI is Under Construction")
        }
        function profile() {
            // Replace the URL in the following line with the URL of the page you want to navigate to.
            window.parent.location='../HTML/profile.html';
        }
        
    </script>   
</div>
</body>
