<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbar3.css">
</head>
<body>
<div class="navbar-content  ">
    <div class="navbar">
        <!-- Logo -->
        <div class="logo">
            <img src="../Assests/logo enmo.png" alt="Logo">
        </div>
        <!-- Search bar -->
        <h1>ADMIN</h1>
        <div class="menu">
            
        </div>
        <!-- Login and Sign buttons -->
        <div class="user-actions">
            <span class="become-seller">Admin Services</span>
            <button class="login">Suppurt request</button>
            <button class="sign-up">Process Refund</button>
        </div>
    </div>
</div>
</body>
