<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/navbar1.css">
</head>
<body>
<div class="navbar-content  ">
    <div class="navbar">
        <!-- Logo -->
        <div class="logo">
            <img src="../Assests/logo enmo.png" alt="Logo">
        </div>
        <!-- Search bar -->
        <div class="search-bar">
            <input type="text" placeholder="What service are you looking for today?">
            <button></button>

        </div>
        <div class="menu">
            <button class="massages"></button>
            
            <button class="notification"></button>
        </div>
        <!-- Login and Sign buttons -->
        <div class="user-actions">
            <span class="orders">Orders</span>
            <span class="getsupport">Get Support</span>
            <span class="switch">Switch to Selling</span>
            <image class= "profileimg" src = "../Assests/login_img1.jpg"/>

        </div>
    </div>
</div>
</body>
